*{
    margin: 0;
    padding: 0;
    font-family: "grafitti-font", sans-serif;
}

.banner{ 
    width: 100%;
    height: 100vh;
    background-image: url(Earth_42.webp);
    background-size: cover;
    background-position: center;
}

.header{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    border: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.content{
    width: 100%;
    height: 50px;
    position: absolute;
    margin-top: 10px;
    text-align: center;
    color: #E2FCEF;
    align-items: center;
}

.navbar{
    width: 300px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #E2FCEF;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #E2FCEF;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.logo{   
    width: 120px;
    height: auto;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.content_of_footer{
    padding-left: 20px;
}

.footer_content{
    color: #E2FCEF;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.kontakt_of_footer{
    padding-left: 1600px;
    color: white;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.main_content, .main_content_2, .main_content_3{
    display: grid;
    position: relative;
    width: 300px;
    height: 600px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 0px #bebebe,
                -20px -20px 0px #ffffff;
}

.main_content_text, .main_content_text_2, .main_content_text_3{
    display: grid;
    margin-top: 37.5px;
    margin-left: 37.5px;
    padding-bottom: 100px;
    padding-right: 37.5px;
}

img {
    border-radius: 50px;
}